
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
  width:100%;
}

#home{
  height: 100vh;
  width: 100%;
  position: fixed;
}

#home video{
  height: 110vh;
  width: 110%;
  object-fit: cover;
}

#home .container{
  position: absolute;
  top: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#home .container nav{
  height: 100px;
  width: 60vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* unvisited link */
a:link {
  text-decoration: none;
 color: white;
}

/* visited link */
a:visited {
 color: white;
}

/* mouse over link */
a:hover {
 color: white;
}

/* selected link */
a:active {
 color: white;
}






#second{
  height:100vh;
  width: 100%;
  position: absolute;
  z-index: 0;
  background: url('pexels-jaymantri-4827.jpg');
  background-size: cover;
  top: 100vh;
}
